@page
@model ContactModel
@{
    ViewData["Title"] = "Kapcsolat";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Diplomalabor TT<br />
    Pannon Egyetem Rendszer- és Számítástudományi Tanszék<br />
    Mérnökinformatikus MSc<br />
    <br />
    Diplomalabor<br />
    <br />
    Témavezető: Dr. Heckl István<br />
    <br />
    Timár Tamás<br />
    2018.05.04.<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:timar.tamas@gmail.com">timar.tamas@gmail.com</a>
</address>
